cachetools~=5.3.3
cellpose~=0.0.3.1
csbdeep~=0.8.1
imageio~=2.33.1
imgaug~=0.4.0
keras~=3.8.0
matplotlib~=3.10.0
medpy~=0.5.2
napari_animation~=0.0.8
napari~=0.5.6
numpy~=2.1.3
opencv-python~=4.11.0.86
pandas~=2.2.3
pillow~=11.1.0
prettytable~=3.5.0
python-dotenv~=1.0.1
pyyaml~=6.0.2
rasterio~=1.3.10
requests~=2.32.3
scikit-image~=0.25.0
scikit-learn~=1.6.1
scipy~=1.15.1
tifffile~=2024.12.12
torchvision~=0.18.1
torch~=2.5.1
tqdm~=4.67.1
urllib3~=2.3.0
